<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="enter name"><br><br>
        <textarea placeholder="post"  name="Password" cols="20" rows="10"></textarea><br>
        <button>Submit</button>
    </form>
    <a href="http://localhost:5000/posts">Home</a>
</body>
</html>